---
import { Image } from "astro:assets"
import Layout from "../layouts/Layout.astro"

---

<Layout>
    <div class="flex space-x-8">
        <div class="flex flex-col space-y-4  w-full">

            <h2 class="text-3xl font-bold">AirLock® High Security Lock</h2>

            <p>Airlock is a unique anti-theft locking unit for stand alone HGV (articulated) trailers.</p>

            <p>By isolating and securing the compressed air intake hose used to convey pressurised air to the trailer brakes, Airlock rapidly secures:</p>
            <ul class="list-disc list-inside">
                <li>Trailers (UK)</li>
                <li>Parked up vehicle trailers</li>
                <li>Flat bottom trailers</li>
                <li>Tractor trailers (USA)</li>
                <li>Continental cargo trailers</li>
            </ul>


            <h2 class="text-3xl font-bold">Road Trailer Security</h2>

            <p>Airlock is tamper-proof and unbreakable an ingenious yet simple device to secure trailers by rendering them immovable.</p>

            <p>The air brake hose is used to activate the trailer brakes is fitted with the crime prevention lock. Any tractor unit is then unable then supply compressed air to release the brakes.</p>

            <ul class="list-disc ml-4">
                <li>High security all steel</li>
                <li>Integral locking system</li>
                <li>Pick resistant rotary / tubular lock</li>
                <li>Tamper and theft proof</li>
                <li>Ultimate in anti-theft trailer accessories</li>
                <li>Unique number stamped identification for security</li>
                <li>Replacement coded keys</li>
                <li>Simple to operate</li>
                <li>Ultimate in hydraulic hose fittings</li>
                <li>Replaces hydraulic hose plug</li>
                
                Trailer cargo security
                
                <li>Portable - pocket sized</li>
                <li>Fits any trailer air brake hose</li>
                <li>Replacement coded keys</li>
                <li>Alternative to trailer wheel locks</li>
                
            </ul>

            <h3 class="text-3xl font-bold">Trailer Immobilisation</h3>

            <p>Airlock is a unique anti-theft trailer locking system designed for stand alone and parked up trailers.</p>

            <p>The high security design is all steel with an integral locking system. The ultra strong barrel design is unbreakable, tamperproof, yet simple to operate. In seconds a trailer is rendered immobile by locking onto the trailer red line. Removal of the lock and activation of the pneumatic airbrakes becomes impossible without the individually coded key.</p>

            <p>Airlock conforms to within I.I.C.L tolerances.</p>
        





            <h2 class="text-3xl font-bold">Trailer Security</h2>

            <p>Road haulage trailers are naturally immobilised when standing alone, but vulnerable to trailer theft.</p>

            <p>The trailer itself and the freight within, can be protected using Airlock to secure the trailer by isolating the pneumatic air brake hose to prevent brake activation.</p>

        <ul class="list-disc ml-4">
                    <li>Anti-theft locking unit</li>

                    <li>For stand alone trailers</li>

                    <li>Maintains parked trailer immobility</li>

                    <li>Prevents air brake release</li>

                    <li>Prevents cargo and trailer theft</li>

                    <li>Easy to use</li>

                    <li>Fast to fit</li>

                    <li>Replacement coded keys</li>
</ul>


<h3 class="text-xl font-bold">How Trailer Air Brakes Work</h3>

<p>Trailer air brakes by default are ON, compressed air is forced from the tractor or cab unit to apply pressure to release the brakes.</p>

<p>Without compressed air the trailer air brake system is not activated and the trailer remains stationary, so, for example, it cannot roll away. The air line hose is integral to the trailer and cannot be easily removed.</p>

<h4 class="text-xl font-bold">Anti-theft trailer security</h4>

<p>Airlock fits onto the red line which is the pneumatic high pressure hose that connects the pressurized air supply from the cab/tractor unit to the trailer. Airlock fits all makes of air hose couplers and push-to-connect tube fittings.</p>
  

</div>
        <div class="flex flex-col space-y-4">
			<Image src="/airlock.jpg" alt="Airlock" width={100} height={100} />
			<Image src="/airlock-red.jpg" alt="Airlock" width={100} height={100} />		</div>
    </div>
</Layout>
